@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

$translucent-black: #171717d9;
$canvas-background: #161616;
$white: #FFF;

*, *::before, *::after {
    box-sizing: border-box;
  }
  
html {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: $canvas-background;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
      supported by Chrome, Edge, Opera and Firefox */
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

language-selector {
  button {
    border: none;
    background: none;
    color: #ffffff7e;
    font-size: 1.3em;
    cursor: pointer;
    &.active{
      color: $white;
    }
  }
}


#attract {
  position: fixed;
  display: block;
  z-index: 1;
  width: 1920px;
  height: 1080px;

  #attract-content {
    width: 550px;
    height: 100vh;
    padding: 70px;
    color: $white;
    background: $translucent-black;

    h1 {
      font-family: 'Gloock', serif;
      font-kerning: none;
    }
    p {
      line-height: 1.3em;
    }
  }
}